@import "../variables.scss";

.user-btn {
  //   background-color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $primary;
  border-radius: 40px;
  position: relative;
  padding: 0.2rem;
  cursor: pointer;
  .user-btn-name {
    color: $primary;
    position: relative;
    font-family: "josefin sans";
    top: 16%;
    margin-left: 1.6rem;
    // background-color: darkgoldenrod;
  }
  .user-btn-icon {
    margin-top: 0.2rem;
  }
  img {
    width: 25%;
  }
}
