@import "../variables.scss";

.navbar {
  background-color: $white;
  .brand {
    cursor: pointer;
    @media (max-width: 991px) {
      margin-left: 2rem;
    }
  }
  .list_item {
    color: $secondary;
    font-weight: bold;
    text-transform: capitalize;
    padding-right: 15px;
    display: inline;
    font-family: "josefin sans";
    font-weight: 700;
    font-size: 1.6rem;
  }
}
.nav-link {
  @media (max-width: 991px) {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
.nav-btn {
  @media (max-width: 991px) {
    text-align: center;
  }
}
// .navbar-nav {
//   @media (max-width: 991px) {
//     margin-top: 1rem;
//     margin-left: 1rem;
//   }
// }
.btn-outline {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
  border: 2px solid $primary;
  color: $primary;
  padding: 2px 15px;
  border-radius: 40px;
  font-family: "josefin sans";
  font-weight: 700;
  margin-top: 6px;
}

.nav-btn {
  position: relative;
  top: -0.5rem;
}
.navbar-actions {
  display: flex;
  @media (max-width: 991px) {
    flex-direction: column;
  }

}
.expandedBar {
  background-color: $white;
  border: 1px solid $primary;
  text-align: center;
  padding: 1rem 1.8rem;
  border-radius: 18px;
  position: absolute;
  right: 5%;
  top: 94%;
  .list_item-expanded {
    color: $primary;
    font-size: 1.6rem;
    // background-color: lavender;
    font-family: "josefin sans";
    padding: 0.5rem 0 0.5rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid $primary;
  }
}
