@import "../variables.scss";

.mvg {
  background-image: url("../../images//green-mask.png");
  padding: 2rem;
  .mvg-heading {
    text-align: center;
    color: $white;
  }
  .mvg-container {
    .mvg-row {
      justify-content: center;
      .mvg-item {
        @media (max-width: 767px) {
          margin-bottom: 3rem;
        }
      }
    }
  }
}
