@import "../variables.scss";

.fcvl {
  // background-color: darkgoldenrod;
  padding: 5rem 0;
  a {
    align-self: flex-end;
  }
  .fcvl-container {
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    position: relative;
    .fcvl-heading {
    }
    .fcvl-para {
      color: $grey;
      font-size: 1.6rem;
      font-weight: 700;
      width: 70%;
      margin-top: 2rem;
      margin-bottom: 6rem;
      // background-color: darkblue;
    }
    .fcvl-row {
      // background-color: lightcoral;
      align-items: stretch;
      justify-content: center;
      margin-bottom: 2rem;
      align-self: center;
      width: 100%;

      .fcvl-col {
        // background-color: darkolivegreen;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: 575px) {
          margin-bottom: 2rem;
        }
        .fcvl-col-video {
          width: 90%;
          height: 240px;
          @media (max-width: 1399px) {
            width: 100%;
            height: 200px;
          }
          @media (max-width: 991px) {
            width: 90%;
            height: 200px;
          }
          @media (max-width: 575px) {
            width: 70%;
            height: 200px;
          }
          @media (max-width: 400px) {
            width: 80%;
            height: 200px;
          }
        }
      }
    }
  }
}
.subtext-container {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 2rem;
  @media (max-width: 575px) {
    margin-left: 8rem;
  }
  .subtext {
    font-size: 1.4rem;
    font-family: "josefin sans";
    color: $black-3;
    font-weight: 700;
    margin-right: 1rem;
    cursor: pointer;
  }
}

// .fcvl {
//   flex-direction: row-reverse;
//   top: -3%;
//   left: -25%;
// }

// .fcvl .vid-card-titleAndIcon img {
//   width: 50%;
// }
.fcvl .vid-card-time {
  padding: 2px 10px;
}
.fcvl .vid-card-video-icon {
  width: 50%;
}
.fcvl-card {
  // width: 100px;
  height: 100px;
  // background-color: darkcyan;
}

.fcvl-link {
  font-family: "josefin sans";
  color: $secondary;
  font-weight: 700;
  align-self: flex-end;
  margin-right: 9rem;
  cursor: pointer;
  margin-top: -3rem;
  @media (max-width: 1399px) {
    margin-right: 0;
  }
  @media (max-width: 991px) {
    margin-right: 3rem;
  }
  @media (max-width: 776px) {
    margin-right: 0;
  }
  @media (max-width: 576px) {
    margin-right: 2rem;
  }
}
.fcvl-search-input-icon-container {
  padding: 1rem;
  border-radius: 4px;
  background-color: rgba($secondary, 0.2);
  width: fit-content;
  position: absolute;
  right: -20%;
  top: 2%;
  margin-left: 1rem;
}
.fcvl-search-input {
  position: relative;
}
.fcvl-search-input-container {
  position: absolute;
  top: 1%;
  right: 10%;
  @media (max-width: 1199px) {
    right: 0;
  }
  @media (max-width: 1130px) {
    position: unset;
    align-self: center;
    margin-top: 1.5rem;
  }
}

.fcvl-caller .fcvl-search-input-container {
  top: 10%;
  @media (max-width: 1399px) {
    top: 12%;
  }
}
.fcvl-caller .fcvl-row {
  margin-top: 7rem;
  // @media (max-width: 1399px) {
  //   margin-top: 3rem;
  // }
}

.fcvl-left-para {
  margin-left: 10%;
  width: 50% !important;
  @media (max-width: 1130px) {
    text-align: center;
    margin-left: 0;
    align-self: center;
    width: 60% !important;
  }
  @media (max-width: 991px) {
    text-align: center;
    margin-left: 0;
    align-self: center;
    width: 80% !important;
  }
}
.fcvl-left-heading {
  margin-left: 10%;
  // width: 50% !important;
  @media (max-width: 1130px) {
    text-align: center;
    margin-left: 0;
  }
}

.tools .fcvl-left-para {
  margin-left: 2.5rem;
}
.tools .fcvl-left-heading {
  margin-left: 1.8rem;
}
