@import "../variables.scss";

.hero {
  color: $white;
  padding: 100px 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  &-quote {
    font-size: 36px;
    letter-spacing: 2px;
    font-family: "josefin sans";
    line-height: 1.4;
  }
  &-author {
    font-size: 18px;
    letter-spacing: 1px;
  }
  &-heading {
    margin-top: 80px;
    // margin-bottom: 45px;

    font-size: 55px;
    letter-spacing: 3px;
  }
}
