@import "../variables.scss";

.hero {
  color: $white;
  padding: 10rem 0;

  &-quote {
    font-size: 3.6rem;
    letter-spacing: 2px;
    font-family: "josefin sans";
    line-height: 1.4;
    font-weight: 700;
  }
  &-author {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  &-heading {
    margin-top: 8rem;
    font-size: 5.5rem;
    letter-spacing: 3px;
  }
}
