@import "../variables.scss";

.fga-form-group {
  .fga-form-label {
    font-size: 1.4rem;
    color: $secondary;
    font-family: "josefin sans";
  }
  .fga-form-input {
    width: 300px;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border: 1px solid rgba($secondary, 0.5);
    border-radius: 1rem;
    outline: none;
    font-size: 1.8rem;
    color: $black-3;
    font-family: "josefin sans";
    box-shadow: 4px 1px 10px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 4px 1px 10px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 1px 10px 5px rgba(0, 0, 0, 0.1);
    @media (max-width: 400px) {
      width: 280px;
      padding: 1rem 1.5rem;
    }
    @media (max-width: 330px) {
      width: 270px;
    }
  }
}
