@import "../variables.scss";

.modalComp {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  //   z-index: ;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  z-index: 1000;
  // background-color: cadetblue;
  .modalComp-container {
    width: 80%;
    height: 80%;
    // background-color: white;
    position: relative;
    top: 10%;
    left: 10%;
    border-radius: 10px;

    // @media (max-width: 767px) {
    //   left: 5%;
    //   width: 90%;
    // }
    // box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    // -webkit-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    // -moz-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    //
  }
  .modalComp-icon {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: $secondary;
    padding: 1rem;
    border-radius: 50%;
    z-index: 1001;
    cursor: pointer;
    // @media (max-width: 1399px) {
    //   top: 15%;
    // }
    // @media (max-width: 1199px) {
    //   right: 3%;
    // }
    @media (max-width: 991px) {
      // right: 25%;
      top: 12%;
      // right: 5%;
    }
    @media (max-width: 768px) {
      top: 23%;
      right: 5%;
      padding: 0.5rem;
    }
    @media (max-width: 550px) {
      top: 32%;
    }
    // @media (max-width: 767px) {
    //   top: 14%;
    //   right: 3.5%;
    // }
  }
  .modalComp-video {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    @media (max-width: 1399px) {
      top: 20%;
    }
    @media (max-width: 991px) {
      top: 20%;
    }
    @media (max-width: 768px) {
      top: 30%;
      width: 90%;
      left: 5%;
    }
    @media (max-width: 550px) {
      top: 40%;
      width: 95%;
      left: 2%;
    }
    // @media (max-width: 550px) {

    // }

    // height: 100%;
  }
}

.video-js {
  aspect-ratio: 17/9;
  width: 100%;
  // height: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  @media (max-width: 768px) {
    // aspect-ratio: 17/10;
  }
}

.profile-modalComp {
  background: rgba($secondary, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  .profile-modalComp-container {
    width: 40rem;
    height: 40rem;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 500px) {
      width: 30rem;
      height: 40rem;
    }
    @media (max-width: 350px) {
      width: 27rem;
      height: 40rem;
    }
    border-radius: 30px;
    box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //
  }
  .profile-modalComp-icon {
    // position: absolute;
    // top: 5%;
    // right: 5%;
    // background-color: $secondary;
    // padding: 1rem;
    // border-radius: 50%;
    // cursor: pointer;
    width: 140px;
    img {
      width: 100%;
    }
  }
  h4 {
    color: $secondary;
    font-family: "josefin sans";
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

.video-payer {
  background-color: rebeccapurple;
}
.vjs-control-bar {
  font-size: 220%;
  @media (max-width: 1199px) {
    font-size: 170%;
  }
  @media (max-width: 767px) {
    font-size: 120%;
  }
  @media (max-width: 500px) {
    font-size: 60%;
  }
  // @media (max-width: 400px) {
  //   font-size: 80%;
  // }
}

.tysm-modalComp {
  background: rgba($secondary, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  .tysm-modalComp-container {
    width: 40rem;
    height: 40rem;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 500px) {
      width: 30rem;
      height: 40rem;
    }
    @media (max-width: 350px) {
      width: 27rem;
      height: 40rem;
    }
    border-radius: 30px;
    box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //
  }
  .tysm-modalComp-icon {
    // position: absolute;
    // top: 5%;
    // right: 5%;
    // background-color: $secondary;
    // padding: 1rem;
    // border-radius: 50%;
    // cursor: pointer;
    width: 140px;
    img {
      width: 100%;
    }
  }
  h4 {
    color: $secondary;
    font-family: "josefin sans";
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
  }
}
