@import "../variables.scss";

.modalComp {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  //   z-index: ;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  z-index: 1000;
  // background-color: cadetblue;
  .modalComp-container {
    width: 80%;
    height: 80%;
    // background-color: white;
    position: relative;
    top: 10%;
    left: 10%;
    border-radius: 10px;

    // @media (max-width: 767px) {
    //   left: 5%;
    //   width: 90%;
    // }
    // box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    // -webkit-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    // -moz-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    //
  }
  .modalComp-icon {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: $secondary;
    padding: 1rem;
    border-radius: 50%;
    z-index: 1001;
    cursor: pointer;
    // @media (max-width: 1399px) {
    //   top: 15%;
    // }
    // @media (max-width: 1199px) {
    //   right: 3%;
    // }
    @media (max-width: 991px) {
      // right: 25%;
      top: 12%;
      // right: 5%;
    }
    @media (max-width: 768px) {
      top: 23%;
      right: 5%;
      padding: 0.5rem;
    }
    @media (max-width: 550px) {
      top: 32%;
    }
    // @media (max-width: 767px) {
    //   top: 14%;
    //   right: 3.5%;
    // }
  }
  .modalComp-video {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    @media (max-width: 1399px) {
      top: 20%;
    }
    @media (max-width: 991px) {
      top: 20%;
    }
    @media (max-width: 768px) {
      top: 30%;
      width: 90%;
      left: 5%;
    }
    @media (max-width: 550px) {
      top: 40%;
      width: 95%;
      left: 2%;
    }
    // @media (max-width: 550px) {

    // }

    // height: 100%;
  }
}

.video-js {
  aspect-ratio: 17/9;
  width: 100%;
  // height: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  @media (max-width: 768px) {
    // aspect-ratio: 17/10;
  }
}
.vjs-control-bar {
  background-color: black !important;
  margin-bottom: 0 !important;
  font-size: 1.4rem !important;
  @media (max-width: 767px) {
    font-size: 1.2rem;
  }
  @media (max-width: 576px) {
    font-size: 1rem !important;
  }
}
// .vjs-button {
//   width: 4rem !important;
// }
// .vjs-play-control {
//   font-size: 1.3rem !important;
// }
.vjs-control-bar {
}
.profile-modalComp {
  background: rgba($secondary, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  .profile-modalComp-container {
    width: 40rem;
    height: 40rem;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 500px) {
      width: 30rem;
      height: 40rem;
    }
    @media (max-width: 350px) {
      width: 27rem;
      height: 40rem;
    }
    border-radius: 30px;
    box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //
  }
  .profile-modalComp-icon {
    // position: absolute;
    // top: 5%;
    // right: 5%;
    // background-color: $secondary;
    // padding: 1rem;
    // border-radius: 50%;
    // cursor: pointer;
    width: 140px;
    img {
      width: 100%;
    }
  }
  h4 {
    color: $secondary;
    font-family: "josefin sans";
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

.video-payer {
  background-color: rebeccapurple;
}
.vjs-control-bar {
  font-size: 220%;
  @media (max-width: 1199px) {
    font-size: 170%;
  }
  @media (max-width: 767px) {
    font-size: 120%;
  }
  @media (max-width: 500px) {
    font-size: 60%;
  }
  // @media (max-width: 400px) {
  //   font-size: 80%;
  // }
}

.tysm-modalComp {
  background: rgba($secondary, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  .tysm-modalComp-container {
    width: 40rem;
    height: 40rem;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 500px) {
      width: 30rem;
      height: 40rem;
    }
    @media (max-width: 350px) {
      width: 27rem;
      height: 40rem;
    }
    border-radius: 30px;
    box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 15px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //
  }
  .tysm-modalComp-icon {
    // position: absolute;
    // top: 5%;
    // right: 5%;
    // background-color: $secondary;
    // padding: 1rem;
    // border-radius: 50%;
    // cursor: pointer;
    width: 140px;
    img {
      width: 100%;
    }
  }
  h4 {
    color: $secondary;
    font-family: "josefin sans";
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
  }
}

.alertModal-overlay {
  position: fixed;
  background-color: rgba($secondary, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .alertModal {
    width: 50rem;
    height: 20rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    @media (max-width: 550px) {
      width: 90%;
    }
    h4 {
      color: $secondary;
      font-family: "josefin sans";
      font-size: 2.5rem;
      margin-bottom: 3rem;
      text-transform: capitalize;
      text-align: center;
    }
  }
}

.sub-modal-overlay {
  position: fixed;
  background-color: rgba($secondary, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .sub-modal {
    width: 40rem;
    height: 30rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    padding: 4rem;
    border-radius: 10px;
    // @media (max-width: 550px) {
    //   width: 90%;
    // }
    .sub-modal-package {
      // background-color: darkcyan;
      margin-bottom: 2rem;
      border-bottom: 1px solid $grey-3;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      .sbm-icon {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $secondary;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .sbm-grey {
        background-color: grey;
      }
      h4 {
        color: $grey;
        font-family: "josefin sans";
        padding-bottom: 0.5rem;
        font-size: 2rem;
        // background-color: darkcyan;
        width: max-content;
        span {
          font-family: "lato";
          font-weight: 700;
        }
        // span {
        //   font-family: "lato";
        // }
        // font-weight: 700;
      }
      .sbmh-green {
        color: $secondary;
      }
    }
    .sbm-btn {
      align-self: center;
      margin-top: 3rem;
    }
  }
}

.md-close {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($secondary, 1);
  border-radius: 50%;
  position: absolute;
  right: 3%;
  top: 5%;
  cursor: pointer;
}

.pay-modal-overlay {
  position: fixed;
  background-color: rgba($secondary, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .pay-modal {
    width: 60rem;
    height: 30rem;
    background-color: white;
    display: flex;
    justify-content: center;
    // align-items: center;
    padding: 4rem;
    border-radius: 10px;
    position: relative;

    .pm-pricetag {
      // background-color: darkkhaki;
      background-color: white;
      border: 1px solid $secondary;
      border-radius: 10px;
      width: fit-content;
      padding: 2rem 2rem;
      text-align: center;
      h5 {
        // background-color: lightblue;
        font-family: "josefin sans";
        color: $secondary;
        text-transform: capitalize;
      }
      h2 {
        // background-color: lightcoral;
        font-size: 3.6rem;
        margin: 2rem 0;
        span {
          font-family: "lato";
          font-weight: 500;
          font-size: 4rem;
        }
      }
      p {
        // background-color: lightgreen;
        font-family: "josefin sans";
        font-size: 1.8rem;
      }
    }
    .vertical-separator {
      width: 1px;
      height: 100%;
      background-color: $secondary;
      margin: 0 3rem;
    }
    .pm-payment {
      // background-color: hotpink;
      h5 {
        font-family: "josefin sans";
        color: $grey-2;
        font-size: 1.6rem;
        // margin-top: 0.3rem;
      }
      .pm-cardNumber {
        font-weight: 600;
        color: $black-3;
        letter-spacing: 2px;
        font-size: 2rem;
        margin-bottom: 3rem;
        line-height: normal;
      }
      .pm-newCard {
        color: #1492e6;
        font-family: "josefin sans";
        font-size: 1.3rem;
        margin-top: 1rem;
        cursor: pointer;
      }
    }
  }
}

.paysuc-modal-overlay {
  position: fixed;
  background-color: rgba($secondary, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .paysuc-modal {
    width: 40rem;
    height: 40rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 10px;
    position: relative;
    text-align: center;
    h3 {
      font-size: 2.8rem;
      font-family: "josefin sans";
      color: $black-3;
      letter-spacing: 1px;
      margin-top: 2rem;
    }
    p {
      font-size: 1.6rem;
      font-family: "josefin sans";
      color: #1492e6;
      display: flex;
      align-items: center;
      margin-bottom: 4rem;
      span {
        width: 1.6rem;
        height: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #1492e6;
        color: white;
        margin-left: 1rem;
      }
    }
  }
}

.loader-overlay {
  position: fixed;
  background-color: rgba($black-3, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .loader-container {
    background-color: white;
    padding: 4rem;
    border-radius: 1rem;
  }
}
