@import "../variables.scss";

.resonance-line {
  //   background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  @media (max-width: 1199px) {
    padding: 1rem 2rem;
  }
  @media (max-width: 991px) {
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
    padding: 2rem;
  }
  p {
    color: $secondary;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 2rem;
    line-height: normal;
    @media (max-width: 991px) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }
}

.homeloggedin-ft {
  margin-top: -5rem;
}
