@import "../variables.scss";

.profile-screen {
  // background-color: wheat;
  padding: 5rem 0;
  @media (max-width: 991px) {
    padding-top: 2rem;
  }
  .ps-container {
    background-color: rosybrown;
    @media (max-width: 1199px) {
      padding: 5rem 3rem;
    }
    @media (max-width: 600px) {
      padding: 4rem 1rem;
    }

    .ps-row {
      // background-color: royalblue;

      //   flex-direction: column;
    }
  }
}

.ps-top {
  background-color: teal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  // @media (max-width: 1199px) {
  //   // flex-direction: column;
  // }
  // @media (max-width: 991px) {
  //   padding: 0 rem;
  // }
  // @media (max-width: 430px) {
  //   padding: 0 2rem;
  // }
  .ps-top-image {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: darkcyan;
    @media (max-width: 767px) {
      width: 10rem;
      height: 10rem;
    }
    @media (max-width: 500px) {
      width: 8rem;
      height: 8rem;
    }
    @media (max-width: 380px) {
      width: 6rem;
      height: 6rem;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .ps-top-imginfo {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    @media (max-width: 1199px) {
      margin-bottom: 2rem;
    }
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  .ps-top-info {
    margin-left: 2rem;
    background-color: salmon;
    @media (max-width: 500px) {
      margin-left: 1rem;
      // width: 80%;
    }
    .ps-top-heading {
      font-family: "josefin sans";
      @media (max-width: 767px) {
        font-size: 2.2rem;
      }
      @media (max-width: 500px) {
        font-size: 1.8rem;
      }
    }
    .ps-top-subscription {
      color: $primary;
      font-size: 1.6rem;
      font-weight: 700;
      @media (max-width: 500px) {
        font-size: 1.4rem;
      }
      span {
        color: $secondary;
      }
    }
  }
}
.ps-top-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: lavender;
  flex-wrap: wrap;
  @media (max-width: 991px) {
    flex-direction: column;
  }
  @media (max-width: 767px) {
    justify-content: flex-start;
    // margin-top: 2rem;
    width: 70%;
  }
  @media (max-width: 576px) {
    width: 90%;
  }
  @media (max-width: 450px) {
    width: 100%;
  }
}
.ps-top-btn {
  margin-right: 2rem;
  @media (max-width: 991px) {
    margin-bottom: 1.5rem;
  }
  @media (max-width: 767px) {
    margin-bottom: 1rem;
  }
  @media (max-width: 450px) {
    margin-right: 1rem;
  }
}

.ps-aboutForm {
  // background-color: saddlebrown;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: 5rem;
}
.ps-billingForm {
  // background-color: darkcyan;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: 5rem;
}
.ps-subscriptionForm {
  display: flex;
  flex-direction: column;
  // background-color: lawngreen;
  height: fit-content;
  margin-top: 5rem;
  // margin-top: -22rem;
  @media (max-width: 767px) {
    margin-top: 5rem;
  }
}
.ps-heading {
  // background-color: darkblue;
  display: flex;
  flex-direction: column;
  width: 85%;
  @media (max-width: 991px) {
    align-self: center;
  }
  @media (max-width: 480px) {
    align-self: flex-start;
    margin-left: 2rem;
  }
  @media (max-width: 360px) {
    margin-left: 1rem;
  }
}
.ps-inputIcon {
  display: flex;
  align-items: center;

  // background-color: firebrick;
  span {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary;
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
  }
}
.ps-editPassword {
  background: #1492e6;
  padding: 1.2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  margin-left: 1.5rem;
  position: absolute;
  right: 20%;
  top: 1%;
  cursor: pointer;
  @media (max-width: 1099px) {
    right: 10%;
  }
  @media (max-width: 991px) {
    right: 0%;
    top: -12%;
  }
  @media (max-width: 767px) {
    right: -15%;
    top: 1%;
  }
}

.ps-form {
  margin-left: 5rem;
  margin-top: 3rem;
  // background-color: darkcyan;
  margin-bottom: 2rem;
  position: relative;
  @media (max-width: 767px) {
    align-self: center;
    margin-left: 0rem;
  }
  @media (max-width: 480px) {
    align-self: flex-start;
    margin-left: 2rem;
  }
  @media (max-width: 360px) {
    margin-left: 1rem;
  }
}

.ps-library-items {
  background-color: salmon;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  @media (max-width: 767px) {
    margin: 0 auto;
  }
  border-radius: 10px;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 4rem;
  // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  // width: 150%;
  .ps-library-item {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    // background-color: darkcyan;
    p {
      // background-color: sandybrown;
      line-height: normal;
      margin-top: 1.2rem;
      margin-left: 1rem;
      font-family: "josefin sans";
      color: $black-3;
      // font-weight: 700;
    }
    span {
      // background-color: darkcyan;
    }
  }
}

.ps-library-btn {
  border: 2px solid $primary;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 4rem;
  margin-right: 2rem;
  cursor: pointer;
  p {
    font-family: "josefin sans";
    color: $primary;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
    // background-color: darkcyan;
  }
}

.ps-topright {
  display: flex;
  flex-direction: column;
  background-color: salmon;
  margin-right: 2rem;
  @media (max-width: 991px) {
    margin-right: 0;
  }
}

.profile-bloom-check {
  background-color: forestgreen;
  h4 {
    background-color: rosybrown;
    font-family: "josefin sans";
    color: $black-3;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 2rem;
    }
    @media (max-width: 500px) {
      font-size: 1.7rem;
    }
  }
  .pbc-container {
    background-color: lemonchiffon;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 3rem 0;
    @media (max-width: 767px) {
      margin: 1rem 0;
    }
    .pbc-img {
      // background-color: hotpink;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      @media (max-width: 767px) {
        width: 7rem;
        height: 7rem;
      }
      @media (max-width: 500px) {
        width: 5rem;
        height: 5rem;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      margin: 0 1rem;
      font-weight: 700;
      color: $grey;
      font-size: 2.2rem;
      @media (max-width: 500px) {
        font-size: 1.8rem;
      }
    }
    .pbc-icons {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
  }
}

.sub-btn {
  margin-top: 3rem;
}
