@import "../variables.scss";

.update-password {
  //   background-color: aqua;
  .update-password-container {
    // background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .update-password-heading {
      text-align: center;
    }
    .update-password-or {
      color: $secondary;
      font-weight: 700;
      font-family: "josefin sans";
      margin: 3rem 0;
    }
    .update-password-forgot-password {
      color: $black-3;
      font-size: 1.4rem;
      font-weight: 700;
    }
    .update-password-form {
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
  }
}
