@import "../variables.scss";

.st {
  .st-container {
    .st-heading {
      text-align: center;
    }
    .st-cards {
      justify-content: center;
      .st-card {
        @media (max-width: 767px) {
          margin-bottom: 3rem;
        }
      }
    }
  }
}
