@import "../variables.scss";

.bbt {
  padding: 5rem 0;
  &-container {
    // background-color: sandybrown;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    .bbt-heading {
      color: $white;
      margin-bottom: 2rem;
    }

    .bbt-subTextContainer {
      // background-color: violet;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: fit-content;
      align-self: center;
      width: 100%;
      @media (max-width: 767px) {
        width: fit-content;
        text-align: center;
      }

      .bbt-subtext {
        // background-color: cadetblue;
        width: 40%;
        align-self: center;
        color: $white;
        font-family: "josefin sans";
        margin-top: 2rem;
        font-size: 1.6rem;
        letter-spacing: 1px;
        @media (max-width: 1199px) {
          width: 50%;
        }
        @media (max-width: 991px) {
          width: 65%;
        }
        @media (max-width: 767px) {
          width: fit-content;
          padding-bottom: 0.5rem;
          border-bottom: 4px solid white;
        }

        // border-bottom: 2px solid $white;
      }
      div {
        width: 10%;
        // border-bottom: 2px solid $white;
        height: 4px;
        background-color: $white;
        position: absolute;
        bottom: -10%;
        left: 30.5%;
        border-radius: 2px;
        @media (max-width: 1199px) {
          left: 25%;
        }
        @media (max-width: 991px) {
          left: 18%;
        }
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}

.bbt-tags-row {
  // background-color: darkcyan;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  margin-left: 2rem;
  @media (max-width: 767px) {
    margin-left: 0;
  }
  .bbt-tag {
    // background-color: salmon;
    width: 170px;
    font-size: 1.6rem;
    color: $white;
    font-weight: 400;
    font-family: "josefin sans";
    margin-top: 1rem;
    margin-left: 3rem;
    @media (max-width: 767px) {
      width: auto;
      margin-left: 0;
    }
  }
}
