@import "../variables.scss";

.login {
  //   background-color: antiquewhite;
  background-image: url();
  width: 100vw;
  height: 100vh;
  padding: 7rem 0;
  display: flex;
  align-items: center;
  .login-container {
    // background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .login-img {
      //   background-color: salmon;
    }
    .login-heading {
      color: $secondary;
      font-family: "josefin sans";
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    .form-options {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      align-self: stretch;
      .login-checkbox {
        // background-color: darkgoldenrod;
        margin-left: -0.5rem;
        display: flex;
        .login-form-label {
          font-size: 1.4rem;
          font-family: "josefin sans";
          margin-top: 1.2rem;
        }
      }
      .login-forgot-password {
        font-size: 1.4rem;
        font-family: "josefin sans";
        margin-top: 1.2rem;
        cursor: pointer;
      }
    }
    .login-button {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .login-or {
      font-size: 2rem;
      font-size: 900;
      font-family: "josefin sans";
      color: $grey;
    }
    .login-signup {
      font-size: 1.6rem;
      font-family: "josefin sans";
      span {
        font-weight: 900;
        a {
          text-decoration: none;
          color: $secondary;
        }
      }
    }
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
