@import "./NavBar/NavBar.scss";
@import "./variables.scss";
@import "./Hero/hero.scss";
@import "./GradientImageInfoSection/GradientImageInfoSection.scss";
@import "WhiteImageInfoSection/WhiteImageInfoSecion.scss";
@import "./Button/button.scss";
@import "./Container/Container.scss";
@import "./VideoCard/videocard.scss";
@import "./howItWorks/howItWorks.scss";
@import "./fourColumnInfoSection/fourColumnInfoSection.scss";
@import "./LineBreak/lineBreak.scss";
@import "./SampleTools/SampleTools.scss";
@import "./VideoCardSmall/VideoCardSmall.scss";
@import "./VideoShiftedCard/VideoShiftedCard.scss";
@import "./MoreVG/MoreVG.scss";
@import "./WhiteInfoCard/WhiteInfoCard.scss";
@import "./RectangularVideoCard/RectangularVideoCard.scss";
@import "./StayInTouch/stayInTouch.scss";
@import "./variables.scss";
@import "./Footer/Footer.scss";
@import "./CheckBoxList/CheckBoxList.scss";
@import "./JoinUs/joinus.scss";
@import "./EmptyVideoCard/EmptyVideoCard.scss";
@import "./PaymentPlanCard/PaymentPlanCard.scss";
@import "./FormInputAuth.scss/FormInputAuth.scss";
@import "./Login/login.scss";
@import "./pinCodeInput/pinCodeInput.scss";
@import "./email-confirmation/email-confirmation.scss";
@import "./GroundWorkEssentials/GroundWorkEssentials.scss";
@import "./ColoredLink/ColoredLink.scss";
@import "./ThreeColumnWhiteVideoInfoLayout/ThreeColumnWhiteVideoInfoLayout.scss";
@import "./BrowseByTags/BrowseByTags.scss";
@import "./BigImageSection/bigImageSection.scss";
@import "./SearchInput/SearchInput.scss";
@import "./FeaturedTools/FeaturedTools.scss";
@import "./AboutUs/about-us.scss";
@import "./Modal/Modal.scss";
@import "./UserButton/userbutton.scss";
@import "./GroundWork/GroundWork.scss";
@import "./FourColumnVideoLayout/FourColumnVideoLayout.scss";
@import "./ScheduleCard/ScheduleCard.scss";
@import "./ButtonAndHeading/ButtonAndHeading.scss";
@import "./AppDownload/AppDownload.scss";
@import "./ScheduleSection/ScheduleSection.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "lato";
}
h2 {
  font-size: 4.8rem;
  font-family: "josefin sans";
  @media (max-width: 1000px) {
    font-size: 4.2rem;
  }
}
h3 {
  font-size: 3.6rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2rem;
}
p {
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  line-height: 1.5;
  @media (max-width: 1000px) {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}
button {
  font-size: 1.8rem;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
}
.py70 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.px70 {
  padding-left: 7rem;
  padding-right: 7rem;
}
.mx70 {
  margin-left: 7rem;
  margin-right: 7rem;
}
.my70 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.py80 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.px80 {
  padding-left: 8rem;
  padding-right: 8rem;
}
.py90 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.px90 {
  padding-left: 9rem;
  padding-right: 9rem;
}
.py100 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.px100 {
  padding-left: 10rem;
  padding-right: 10rem;
}
.my80 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.mx70 {
  margin-left: 7rem;
  margin-right: 7rem;
}
.my70 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.mx80 {
  padding-left: 8rem;
  padding-right: 8rem;
}
.my90 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.mx90 {
  padding-left: 9rem;
  padding-right: 9rem;
}
.my100 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.mx100 {
  padding-left: 10rem;
  padding-right: 10rem;
}
.auto-margin-horizontal {
  margin: 0 auto;
}
.bg-gradient-green {
  background: rgb(122, 176, 58);
  background: linear-gradient(
    37deg,
    rgba(122, 176, 58, 1) 0%,
    rgba(32, 95, 46, 1) 90%
  );
}
.bg-gradient-pink {
  background: rgb(205, 37, 141);
  background: linear-gradient(
    121deg,
    rgba(205, 37, 141, 1) 25%,
    rgba(237, 83, 94, 1) 89%
  );
}
.bg-gradient-pinkMask {
  background-image: url("../images/pink-mask.png");
}
.bg-gradient-blueflowers {
  background-image: url("../images/hero.png");
}
.bg-gradient-greenMask {
  background-image: url("../images/green-mask.png");
}
.bg-flowers {
  background-image: url("../images/flowers-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.text-end {
  text-align: end;
}
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}
.center-align {
  align-self: center;
}
.left-green-heading {
  color: $secondary;
  margin-bottom: 3rem;
  // font-weight: 700;
}
.left-aligned-para {
  color: $black-3;
  letter-spacing: 2px;
  line-height: 1.8;
}
