// Colors
$primary : rgba(255, 84, 90, 1);
$primary-2 : rgba(214, 16, 153, 1);
$secondary : rgba(27, 91, 47, 1);

$white : rgba(255, 255, 255, 1);
$white-2 : rgba(250, 251, 250, 1);
$white-3 : rgba(255, 255, 255,0.24);

$black : rgba(0, 0, 0, 1);
$black-2 : rgba(22, 20, 20, 1);
$black-3 : rgba(34, 34, 34, 1);

$grey : rgba(132, 143, 153, 1);
$grey-2 : rgba(112, 112, 112, 1);
$grey-3 : rgba(61, 61, 61, 0.25);
$grey-4 : rgba(209, 207, 207, 1);
$grey-5 :rgba(0, 0, 0, 0.16);
