@import "../variables.scss";

.buttonAndHeading {
  text-align: center;
  padding: 4rem 0;
  margin-bottom: 2rem;
  .bah-heading {
    margin-bottom: 4rem;
  }
}

.buttonAndHeading2 {
  text-align: center;
  padding: 4rem 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .bah2-heading {
    margin-bottom: 2rem;
    font-family: "josefin sans";
    // font-weight: 700;
  }
  .bah2-para {
    width: 70%;
    // font-weight:0;
    color: $grey;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .bah2-input {
    margin: 2.5rem 0 3.5rem 0;
  }
}
