@import "../variables.scss";

.search-input {
  padding: 1.2rem 1.7rem;
  width: 32%;
  border: none;
  outline: none;
  font-size: 1.8rem;
  border-radius: 6rem;
}

.search-input-container {
  position: relative;
  background-color: darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input-btn {
  position: absolute;
  right: 35%;
}
